[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
python-dotenv = "*"
apscheduler = "*"
jinja2 = "*"
jira = "*"

[dev-packages]

[requires]
python_version = "3.9"
